<div class="panel panel-danger">
    <div class="panel-heading" style="text-align:center">Car Detail</div>
</div>

<div class="row">
    <div class="col-sm-3" style="font-weight: bold">
        Car Details :
    </div>
    
</div><br>
<div class="panel panel-default">
                    
                    <div ng-init="getCarDetail()">
                        <table class="panel-body table table-condensed">
                            <thead class="panel-heading">
                              <tr>
                                <th>Vid</th>
                                <th>model</th>
                                <th>speed</th>
                                <th>city</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="car in carDetail">
                                <td>
                                    <div>{{car.Vid}}</div>
                                    
                                </td>
                                <td>
                                    <div>{{car.model}}</div>
                                    
                                </td>
                                <td>
                                    <div>{{car.speed}}</div>
                                   
                                </td>
                                <td>
                                    <div>{{car.city}}</div>
                                   
                                </td>
                                
                                </tr>                          
                            </tbody>
                        </table>
             </div>
    </div>

       
   



